@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme) prefix(pf);
@import "tailwindcss/preflight.css" layer(base) prefix(pf);
@import "tailwindcss/utilities.css" prefix(pf);

/* @import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css"; */
/* @import "tailwindcss" prefix(pf); */

@theme {
  --color-main-button: #399571;
  --font-sans: Inter, sans-serif;
  --font-sans--font-feature-settings: "cv11";
}

:root {
  --primary-color: oklch(62.7% 0.194 149.214);
  --provident-white: #ffffff;
  --stepper-bg: #fafafa;
  --stepper-selected: var(--primary-color);
  --stepper-unselected: #ffffff;
  --stepper-unselected-border: #d4d4d8;
  --stepper-line: #d9d9d9;
  --validation-error-color: #f19d38;
  --button-disabled: #a1a1aa;
}
